{% extends "base.html" %}
{% block title %} - Ajouter Utilisateur{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card p-4">
                <h4 class="mb-4" >AJOUTER UTILISATEUR</h4>
                <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="mb-3">
                        <label class="form-label">NOM D'UTILISATEUR</label>
                        <input type="text" name="username" class="form-control" required minlength="3" maxlength="30" placeholder="ex. ahmed">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">NOM COMPLET</label>
                        <input type="text" name="full_name" class="form-control" placeholder="ex. Ahmed Ben Ali">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">MOT DE PASSE</label>
                        <input type="password" name="password" class="form-control" required minlength="6" placeholder="Min 6 caractères">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">RÔLE</label>
                        <select name="role" class="form-control">
                            <option value="employee">EMPLOYÉ</option>
                            <option value="admin">ADMIN</option>
                        </select>
                    </div>
                    <button type="submit" class="btn-gold w-100">AJOUTER UTILISATEUR</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
